html{
  scroll-behavior: smooth;
}

.position{
  width: 55%;
  line-height: 2.0;
}
.center-text{
  text-align: center;
}

.center-box{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 18px;
  background-color: transparent;
  padding: 2px;
  position: sticky;
  top: 0;
}

@font-face{
    font-family: 'Computer';
    src: url('fonts/Computer.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.navbar ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.navbar li a{
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a {
  color: rgb(255, 255, 255);
}

span{
  color: rgb(255, 255, 255);
}

p{
  color: rgb(255, 255, 255);
  font-size: 15.5px;
}

h1{
    margin: 28px;
    color: rgb(255, 255, 255);
}

h3{
    margin: 28px;
    color: rgb(255, 255, 255);
}

h4{
    text-align: center;
    color: rgb(255, 255, 255);
}

body{
  background-image: url(Images/starfield.gif);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-color: #0b1220;
  font-family: 'Computer', system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
  min-height: 100vh;
}

.resume-box{
  display: flex;
  background-color: rgb(36, 36, 36);
  margin: 150px auto;
  padding: 50px;
  width: 240px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
}

.boxes-inside{
  display: flex;
  background-color: rgb(43, 42, 42);
  padding: 11px;
  margin: auto;
  width: 170px;
  height: 60px;
  align-items: center;
  justify-content: center;
}

.gif-background{
  background-image: url(Images/late-night-coding.gif);
  background-size: cover;
  background-position: center;
  height: 225px;
}

.button-styling{
  background-color: rgb(43, 42, 42);
  color: rgb(255, 255, 255);;
  border-radius: 10px;
}

.blog{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom:2px ridge rgb(255, 255, 255);
}

.recent-post-box{
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  margin: auto;
  padding: 10px;
  height: 725px;
  width: 500px;
  justify-content: top;
  align-items: top;
  gap: 10px;
  border-radius: 25px;
}

.contact-section{
  display: flex;
  justify-content: center;
  align-items: center;
  border-top:2px ridge rgb(255, 255, 255);
  padding: 30px;
}

.circle-border{
  border: 2px solid rgb(255, 255, 255);;
  border-radius: 30px;
}

.email-icon{
  position: relative;
  display: inline-block;
}

.contact-form{
  display: none;
  position: absolute;
  background-image: url(Images/late-night-coding.gif);
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  width: 42%;
  opacity: 1;
}

.email-icon:hover .contact-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.72;
}



input{
  background-color: transparent;
  border-left: 1px solid black;
  padding: 3px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: left;
  text-align: left;
  color: white;
}

label{
  color: rgb(255, 255, 255);
  font-size: 11.5px;
  display: flex;
  flex-direction: column;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  padding: 5px;
}

textarea{
  background-color: transparent;
  border-radius: 10px;
  color: white;
}